<!-- Modal -->
<div class="modal fade" id="recModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog rounded">
	  <div class="modal-content px-3">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Recuperar contraseña</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form action="" method="$_POST" id="recPass">
				<div class="mb-2">
					<label for="email">Ingresa tu correo electronico</label>
				</div>
				<div class="mb-4">
					<input type="email" class="form-control" required name="recupassword"/>
				</div>
			</form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
		  <button type="button" class="btn btn-primary">Enviar</button>
		</div>
	  </div>
	</div>
</div>
