

body{
    background: url("../img/libro.jpg") center top;
    margin: 0;
    padding: 0;
    background-size: 100vw 100vh;
    flex-wrap: wrap;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

.contain{
    width: 85%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.header{
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;
}

.header a{
    color: white;
    text-decoration: none;
    padding: 2rem 0;
}
    

.log{
    letter-spacing: 10px;
    font-size: 1.2em;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background: beige;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    padding: 10px;
    color: rgb(214, 219, 211);
    margin-top: 10%;
}

h2{
    text-align: center;
    text-decoration: salmon;
    padding: 50px;
    color: rgb(226, 226, 216);
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 10%;
}

.derechos{
    text-align: left;
}

.foto{
    text-align: right;
}

.icon-libro {
    font-size: 2rem;
    color: rgb(4, 8, 8);
    right: 56%;
    top: 65%;
    position: fixed;
}

#icon1 {
    font-size: 2rem;
    color: rgb(4, 12, 12);
    position:fixed;
    right: 50%;
    top: 65%;
}

.icon-school{
    font-size: 2rem;
    color:rgb(3, 3, 136) ;
    right: 25%;
    top: 38%;
    position:fixed;
}

.icon-school{
    font-size: 2rem;
    color:rgb(240, 240, 243) ;
    right: 15%;
    top: 38%;
    position:fixed;
    z-index: 2;
}


footer{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    color: beige;
    line-height: 1;
    left: 0%;
    right: 0%;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.derechos{
    float: left;
}

.foto{
    float: right;
}
.breadcrumb {
    position: relative;
    filter: alpha(opacity=50);
    opacity: 0.5;
}


