*{
	margin: 0;
	padding: 0;
    font-family: 'Montserrat', sans-serif;

}
body{
    overflow: hidden;
}

.contain{
    width: 85%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.header{
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;
}

.header a{
    color: white;
    text-decoration: none;
    padding: 2rem 0;
}

.log{
    letter-spacing: 10px;
    font-size: 1.2em;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background: beige;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box .square:nth-child(1){
	top: -50px;
	right: -95px;
	width: 100px;
	height: 100px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom,#f1f4f9,#dff1ff);

}
section .color{
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1){
top: -350px;
width: 600px;
height: 600px;
background: #ff359b;

}

section .color:nth-child(2){
    top: 150px;
   left: -125px;
   width: 120px;
   height: 120px;
   z-index: 2;
}

section .color:nth-child(3){
    bottom: 50px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #00d2ff;
}
.container {
    position: relative;
    width: 460px;
    min-height: 400px;
    background: rgba(73, 65, 65, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter:blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .form{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 40px;
    }
    
    .form h2{
        position: relative;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }
    
    .form h2::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 80px;
        height: 4px;
        background: #fff;
    }
    
    .form .inputBox
    {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    
    .form .inputBox input
    {
        width: 86%;
        background: rgba(255,255,255,0.2);
        border: none;
        outline: none;
        padding: 10px 20px;
        border-radius: 35px;
        border: 1px solid rgba(255,255,255,0.5);
         border-right: 1px solid rgba(255,255,255,0.2);
         border-bottom: 1px solid rgba(255,255,255,0.2);
         font-size: 16px;
         letter-spacing: 1px;
         color: #fff;
         box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    }
    
    
    .form .inputBox input::placeholder{
        color: #fff;
    }
    
    .form .inputBox input[type="submit"]{
        background: #fff;
        color: #666;
        max-width: 200px;
        cursor: pointer;
        margin-bottom: 20px;
        font-weight: 600px;
    
    }
    
    .form .inputBox input[type="submit"]:hover{
        background: #eb80bf;
        color: #fff;
    
    }
    
    .main{
        padding-top: 12rem;
    }

    @media only screen and (max-width: 767px){
    
        .navigation{
            width: 100%;
            margin-top: 1rem;
        }
        .navigation ul{
            display: none;
        }
    
        .navigation ul li{
            display: block;
        }
        
        .navigation ul li a{
            display: block;
            padding: 0.5rem 0;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
        
        .navigation ul li a:hover{
            background: beige;
        }
        
        
    }