<<<<<<< HEAD
body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    background-color: burlywood;
    color: crimson;
}

h3{
    background-color: azure;
    color: chartreuse;
    size: 100cm;
}


.div button {
    padding-right: 0%;

=======


.breadcrumb {
    position: relative;
    filter: alpha(opacity=50);
    opacity: 0.5;
>>>>>>> 7f23d5212116b1678a082c3421671918d7898b53
}