<footer class=" d-none d-md-block col-md-12 bg-dark text-white" id="footer">
  <section id="footer_top">
    <div class="container p-5">
      <div class="row mt-2 align-items-top justify-content-center">
        <!-- COLUMNA IZQUIERA -->
        <div class="col">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">MENU</h6>
          <p>
            <a href="/login#contentForm" class="nav-link">{{"LINKS.INICIO" | translate}}</a>
          </p>
          <p>
            <a href="/nosotros#sectionMenu" class="nav-link">{{"LINKS.NOSOTROS" | translate}}</a>
          </p>
          <p>
            <a href="/registro-instituciones#contentForm" class="nav-link">{{"LINKS.CREARINSTITUCION" | translate}}</a>
          </p>
          <p>
            <a href="/registro-alumnos#contentForm" class="nav-link">{{"LINKS.CREARALUMNO" | translate}}</a>
          </p>
        </div>
        <!-- COLUMNA CENTRAL -->
        <div class="col">
          <h6 class="text-uppercase fw-bold mb-4">
          {{"LINKS.INTERES" | translate}}
          </h6>
          <p>
            <a href="https://www.argentina.gob.ar/educacion" class="nav-link" target="_blank">{{"LINKS.NATMINEDUC" | translate}} -
              {{"PAISES.ARGENTINA" | translate}}</a>
          </p>
          <p>
            <a href="https://www.cba.gov.ar/reparticion/ministerio-de-educacion" class="nav-link" target="_blank">{{"LINKS.PROVMINEDUC" | translate}} - Córdoba
              </a>
          </p>
        </div>
        <!-- COLUMNA DERECHA -->
        <div class="col">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            {{ "LINKS.CONTACTO" | translate}}
          </h6>
          <p>
            <i class="fas fa-home me-3"></i>Córdoba, {{"PAISES.ARGENTINA" | translate}}.
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <a href="mailto:administracion@saberconectar.com.ar" class="text-reset text-decoration-none">administracion@saberconectar.com.ar</a>
          </p>
          <p><i class="fas fa-phone me-3"></i> + 54 351 7654211</p>
        </div>
        <!-- Grid column -->
      <!-- Grid row -->
      </div>
    </div>
  </section>
  <div class="text-center p-4 bg-secondary bg-opacity-50 text-white" id="footer_bot">
    {{"FOOTER" | translate}}
  </div>
</footer>
