<h1 class="h3 mb-2">Cursos</h1>

<p class="mb-4">Selecciona el curso que mejor se adapte e inscribete.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex">
        <h6 class="m-0 text-primary">Cursos disponibles</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                      <th>NombreCurso</th>
                      <th>DescripcionCurso</th>
                      <th>FechaInicioCurso</th>
                      <th>FechaFinCurso</th>
                      <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Curso UX</th>
                    <th>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, modi.</th>
                    <th>25/09/2022</th>
                    <th>25/12/2022</th>
                    <th><button class="btn btn-success" (click)="inscribirse()">Inscribir</button></th>
                  </tr>
                  <tr>
                    <th>Curso UI</th>
                    <th>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, modi.</th>
                    <th>25/09/2022</th>
                    <th>25/12/2022</th>
                    <th><button class="btn btn-success" (click)="inscribirse()">Inscribir</button></th>
                  </tr>
                  <tr>
                    <th>Testing Manual</th>
                    <th>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, modi.</th>
                    <th>25/09/2022</th>
                    <th>25/12/2022</th>
                    <th><button class="btn btn-success" (click)="inscribirse()">Inscribir</button></th>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
