<nav class="navbar py-0 justify-content-end">
  <ul class="nav my-auto">
    <li class="nav-item my-auto mx-3" *ngIf="!estadoSesion">
      <a class="text-decoration-none" (click)="iniciarSesion()" aria-current="page" href='/login#contentForm'>Iniciar Sesión / Log in</a>
    </li>
    <li class="nav-item my-auto mx-3" *ngIf="estadoSesion">
      <a class="text-decoration-none" aria-current="page" href='/login#contentForm'>{{nombreUsuario}}</a>
    </li>
    <li class="p-1 my-auto" *ngIf="estadoSesion">
      <a routerLink="/checkout">
        <i class="fas fa-cart-plus me-3"></i>
      </a>
    </li>
    <li class="nav-item my-auto mx-3" *ngIf="estadoSesion">
      <a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Cerrar Sesión /Log out</a>
    </li>
  </ul>
</nav>
