<main>
  <header>
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb bg-white p-2">
<!-- MODIFICAR ENLACE -->
            <li class="breadcrumb-item active"><a href="/login#contentForm" class=" text-decoration-none">Inicio / Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nosotros / Us</li>
        </ol>
    </nav>
  </header>
  <section id="sectionMenu">
    <!-- breadcrums -->

      <!-- SECCION SERVICIO -->
      <div class="container-fluid shadow px-0" id="contentForm">
          <div class="row bg_sections bg_us bg-white align-content-around">
              <div class="col d-none d-md-block col-md-7"></div>
              <div class="col p-0">
                  <div class="card border-0 p-5">
                      <div class="card-body">
                          <h5 class="card-title title_services">Nosotros / Us</h5>
                          <h6 class="card-subtitle mb-2 fs-1 text-uppercase">que hacemos / what we do</h6>
                          <p class="card-text">Somos un grupo de personas que nos conocimos en un trayecto académico y formamos <strong>Saber Conectar</strong> como una plafaforma educativa virtual.
                          En este espacio ofrecemos un servicio diseñado para la comunidad educativa: estudiantes e instituciones en su conjunto.
                          Aquí podrás encontrar toda la oferta académica del país.
                          </p>
                          <p>Nuestro objetivo es brindar un espacio donde encuentres todo lo que buscas, en materia educativa, en un solo lugar.
                          Las instituciones educativas del país se registran en nuestra plataforma ofreciendo su oferta académica y nuestros usuarios gozan de la posibilidad de encontrar todas estas propuestas e inscribirse a ellas de forma fácil y segura.
                          </p>
                          <br><br><p>We are a group of people who met on an academic journey and formed <strong>Saber Conectar</strong> as a virtual educational platform.
                            In this space we offer a service designed for the educational community: students and institutions as a whole.
                            Here you can find all the academic offer of the country.</p><p>Our goal is to provide a space where you can find everything you are looking for, in educational matters, in one place.
                              The educational institutions of the country register on our platform offering their academic offer and our users enjoy the possibility of finding all these proposals and registering for them easily and safely.</p>
  <!-- MODIFICAR ENLACE -->
                          <a class="btn btn-outline-warning mt-3" href="/login#contentForm">Comenzar / Start</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <app-membresia></app-membresia>
  </section>
</main>
