<div class="container-fluid">
  <div class="row h-auto py-3 align-content-center">
    <div class="col-lg-10 p-3 d-inline-flex justify-content-center">
      <h1 class="font-title fs-3 text-white my-auto mx-4">VOLVETE PREMIUM / BE PREMIUM
        <span><i class="fas fa-chess-queen text-warning"></i></span></h1>
      <h2 class="d-none d-md-block font-title m-0 text-dark">Accede sin límite a todo el contenido. / Unlimited Access</h2>
    </div>
    <div class="col-sm-12 col-md my-auto">
      <button class="btn btn-warning shadow w-100" type="button" routerLink="/precios">Hazte Premium / Be Premium</button>
    </div>
  </div>
</div>
