<h1 class="h3 mb-2">{{ "SECCION.CARRERS" | translate}}</h1>

<p class="mb-4">{{ "SECCION.CARRERSTEXT" | translate}}</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 text-primary d-flex">{{ "SECCION.CARRERAS" | translate}}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>{{ "SECCION.NOMBCARRERA" | translate}}</th>
                    <th>{{ "SECCION.DESCRIPCARR" | translate}}</th>
                    <th>{{ "SECCION.FECHAINICIOCARR" | translate}}</th>
                    <th>{{ "SECCION.FECHAFINCARR" | translate}}</th>
                    <th>{{ "SECCION.ACCIONES" | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let carreras of ArregloCarreras">
                    <th>{{carreras.nombre}}</th>
                    <th>{{carreras.descripcion}}</th>
                    <th>{{carreras.fechaInicio}}</th>
                    <th>{{carreras.fechaFin}}</th>
                    <th><button class="btn btn-success" (click)="inscribirse()">{{ "LINKS.INSCRIBIRSE" | translate}}</button></th>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
