<h1 class="h3 mb-2">{{ "SECCION.NOMBCURSO" | translate}}</h1>

<p class="mb-4">{{"SECCION.SELECCIONAOPCION" | translate}}</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex">
        <h6 class="m-0 text-primary">{{ "SECCION.CURSOSDISP" | translate}}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                      <th>{{ "SECCION.NOMBCURSO" | translate}}</th>
                      <th>{{ "SECCION.DESCRIPCION" | translate}}</th>
                      <th>{{ "SECCION.FECHAINICIOCURS" | translate}}</th>
                      <th>{{ "SECCION.FECHAFINCURS" | translate}}</th>
                      <th>{{ "SECCION.ACCIONES" | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cursos of ArregloCursos">
                      <th>{{cursos.nombre}}</th>
                      <th>{{cursos.descripcion}}</th>
                      <th>{{cursos.fechaInicio}}</th>
                      <th>{{cursos.fechaFin}}</th>
                    <th><button *ngIf='registrado' class="btn btn-success" (click)="inscribirse(cursos.id)">{{"LINKS.INSCRIBIRSE" | translate}}</button></th>
                    <button class="border-0 bg-white" (click)="eliminar(idCourse)"><i class="fas fa-trash-alt mx-1 link-danger"></i></button>
                    <!-- <th><button *ngIf='registrado' class="btn btn-success" (click)="inscribirse(cursos.id)">{{"LINKS.INSCRIBIRSE" | translate}}</button></th> -->
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
