<h1 class="h3 mb-2">{{ "SECCION.CURSOS" | translate}}</h1>

<p class="mb-4">{{ "SECCION.CURSOSTEXT" | translate}}</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-flex justify-content-between">
        <h6 class="m-0 text-primary">{{ "SECCION.CURSOSDISP" | translate}}</h6>
        <button class="btn btn-success btn-icon-split" data-bs-toggle="modal" data-bs-target="#crearModal">
          <span class="icon text-white">
              <i class="fas fa-arrow-right px-2 "></i>
          </span>
          <span class="text">{{ "SECCION.CREARCURSOS" | translate}}</span>
        </button>
      </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                      <th>{{ "SECCION.NOMBCURSO" | translate}}</th>
                      <th>{{ "SECCION.DESCRIPCURS" | translate}}</th>
                      <th>{{ "SECCION.FECHAINICIOCURS" | translate}}</th>
                      <th>{{ "SECCION.FECHAFINCURS" | translate}}</th>
                      <th>{{ "SECCION.CANTIDINSCRIP" | translate}}</th>
                      <th>{{ "SECCION.ACCIONES" | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cursos of ArregloCursos">
                    <th>{{cursos.nombre}}</th>
                    <th>{{cursos.descripcion}}</th>
                    <th>{{cursos.fechaInicio}}</th>
                    <th>{{cursos.fechaFin}}</th>
                    <th>{{cursos.cantidadInscriptos}}</th>
                    <th>
                      <button class="border-0 bg-white"  data-bs-toggle="modal" data-bs-target="#crearModal"><i class="fas fa-edit mx-1 link-primary"></i></button>
                      

                      <button class="border-0 bg-white" (click)="eliminar()"><i class="fas fa-trash-alt mx-1 link-danger"></i></button>
                    </th>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
